.container {
  position: relative;
  margin: 10px;
}
.container button {
  border: none;
  background: var(--color-amarillo);
  display: flex;
  align-items: center;
  padding: 5px 10px;
  box-shadow: var(--box-shadow);
  border-radius: 10px 0px 0 10px;
}
.notifications {
  position: absolute;
  background-color: var(--color-amarillo);
  padding: 3px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -20px;
  right: 5px;
  border: 2px solid var(--color-amarillo);
  animation: parpadeo 1s linear infinite;
}

@keyframes parpadeo {
  0% {
    box-shadow: 0 0 4px var(--color-amarillo);
  }
  100% {
    box-shadow: 0 0 30px var(--color-amarillo);
  }
}
