.container {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  width: 100vw;
  position: absolute;
  z-index: 10000;
  background-image: url('./../../../../assets/images/FondoBlanco.png');
  font-family: var(--font-roboto-regular);
}

.edit_and_close_button {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.edit_and_close_button span {
  font-family: var(--font-roboto-bold);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.botonCerrar {
  background: var(--color-danger);
  width: 25px;
  height: 25px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.edit_button {
  border: none;
  display: flex;
  align-items: center;
  background: transparent;
  font-size: var(--font-roboto-bold);
  color: red;
}

.form {
  width: 100%;
}

.fieldset {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.containerFile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 70px 20px 20px 20px;
  background: white;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.267);
}

.containerFile label {
  position: relative;
  z-index: 1;
}

.imageDisabled {
  border-radius: 100%;
  object-fit: cover;
  object-position: center 0px;
  box-shadow: var(--box-shadow);
}

.image {
  border-radius: 100%;
  object-fit: cover;
  object-position: center 0px;
  border: 6px solid rgb(227, 227, 227);
  /* box-shadow: var(--box-shadow); */
}

.icon_camera {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -7px;
  right: 0px;
  left: 0px;
}

.icon_camera i {
  display: flex;
  align-items: center;
  background: rgb(211, 211, 211);
  padding: 5px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.icon {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 2;
}

.icon::before {
  box-shadow: var(--box-shadow);
  content: '';
  position: absolute;
  inset: 0;
  background: white;
  border-radius: 50%;
  z-index: -1;
}

.input_name {
  margin-top: 5px;
  padding: 8px 0px;
  border: 1px solid rgb(197, 197, 197);
  text-align: center;
  font-size: 20px;
  font-family: var(--font-roboto-bold);
  border-radius: 5px;
}

.input_name_disable {
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  color: black;
  font-family: var(--font-roboto-bold);
}

/* 
.containerInputs {
  background-color: var(--color-amarillo);
  border-radius: 21px;
  padding: 10px 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--color-gris-medio);
  font-family: var(--font-roboto-bold);
  box-shadow: var(--box-shadow);
}

.image {
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
  border: 3px solid var(--color-danger);
}
.imageDisabled {
  border: 3px solid transparent;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}

.divHorariosDeAtencion {
  display: flex;
  width: 90%;
  text-align: left;
}

.containerButtons {
  display: flex;
  justify-content: space-around;
  gap: 20px;
} */
