.destacados {
  width: 100dvw;
  border-radius: 10px 10px 0 0;
  background: #ffffff;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 43%,
    rgba(255, 255, 255, 0.75) 84%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.destacados .title {
  background-color: var(--color-amarillo);
  text-align: center;
  font-family: var(--font-roboto-bold);
  font-weight: bold;
  padding: 8px 0px;
  font-size: 14px;
  align-content: center;
  color: var(--color-gris-medio);
  border-radius: 30px;
  color: black;
  width: 90%;
  box-shadow: inset 0 2px 5px rgba(255, 255, 255, 0.4),
    /* luz arriba */ inset 0 -2px 5px rgba(0, 0, 0, 0.15);
}
.destacadosUl {
  position: relative;
  display: flex;
  gap: 40px;
  padding: 9px 0px;
  overflow: scroll;
  align-items: flex-start;
  scrollbar-width: none;
}

.destacadosLi {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.destacadosLi .image {
  border-radius: 100%;
  border: 3px solid var(--color-amarillo);
  object-fit: cover;
}
.destacadosLi .pName {
  color: var(--color-blanco);
  font-family: var(--font-roboto-bold);
  font-size: 11px;
}
.destacadosLi .pDescripcion {
  color: var(--color-amarillo);
  font-family: var(--font-helvetica-italic);
  font-size: 10px;
  text-wrap: nowrap;
}

.destacadosLi .pDescripcion .spanCalificacion {
  color: var(--color-blanco);
  font-family: var(--font-roboto-bold);
}
